<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>haha</string>
		<key>age</key>
		<integer>18</integer>
		<key>gender</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>helen</string>
		<key>age</key>
		<integer>22</integer>
		<key>gender</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>lilez</string>
		<key>age</key>
		<integer>53</integer>
		<key>gender</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>ailie</string>
		<key>age</key>
		<integer>34</integer>
		<key>gender</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>ben</string>
		<key>age</key>
		<integer>12</integer>
		<key>gender</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>mantol</string>
		<key>age</key>
		<integer>18</integer>
		<key>gender</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>eliabe</string>
		<key>age</key>
		<integer>89</integer>
		<key>gender</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>tobe</string>
		<key>age</key>
		<integer>17</integer>
		<key>gender</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>han</string>
		<key>age</key>
		<integer>56</integer>
		<key>gender</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>benz</string>
		<key>age</key>
		<integer>32</integer>
		<key>gender</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>yiz</string>
		<key>age</key>
		<integer>18</integer>
		<key>gender</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
